{% extends 'starter.html' %}
{% load static %}
{% block body %}

  <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Services</h1>
              <p class="mb-0">Welcome to Boma Yetu services and enjoy!</p>
            </div>
          </div>
        </div>
      </div>

    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services Offered</h2>
        <p>Checkout on the amazing services offered by Boma Yetu, it is pleasure to see our valued clients satisfied!</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Property Rentals:</h3>
              </a>
              <p>
                  Efficient tenant screening and property marketing.
                  Professional property management services, including rent collection and maintenance.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Property Management:</h3>
              </a>
              <p>Comprehensive property management solutions for landlords.
                Timely rent collection and maintenance coordination.
                  Detailed financial reporting and accounting.</p>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Commercial Real Estate:</h3>
              </a>
              <p>Strategic advice on commercial property investments.
                 Lease negotiations and property management services.
                 Expert guidance on commercial property acquisitions and disposals.</p>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi to-square-text"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Residential Sales and Purchases:</h3>
              </a>
              <p>Expert guidance on buying or selling your dream home.
                 Comprehensive market analysis and property valuations.
                 Seamless transaction management and negotiation.</p>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->


     <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Community Forums:</h3>
              </a>
              <p>User Forums: A platform for users to discuss real estate topics, ask questions, and share experiences.
                  Expert Advice: Access to expert advice from real estate professionals..</p>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->


     <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Property Search and Matching:</h3>
              </a>
              <p>
                  Intelligent Search Algorithms: Advanced algorithms to match users with properties that meet their specific needs and preferences.
                  Saved Searches: Users can save their search criteria for future reference.
                  Property Alerts: Receive real-time alerts for properties that match saved search criteria.
              </p>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->


    </section><!-- /Services Section -->


{% endblock %}